/* Folha de Estilo da Página de Login do Proprietário */

@charset "UTF-8";

form {
	width: 80%;
	margin: auto;
}

input {
	font-family: Book Antiqua;
	font-weight: normal;
	font-size: 12pt;
	background-color: rgba(255,255,255,.8);
}

input:hover {
	background-color: #dddddd;
	
}

legend {
	text-align: center;
}

fieldset {
	border-color: #cecece;
	margin: 5px 0px 5px 0px;
}

label {
	padding-left: 3px;
	text-align: center;
}